<!DOCTYPE html>
<html>
  <head>
    <title>VideoTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5fae03d5fa.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
  window.googlelogoURL = "<%= image_url('google_logo.PNG') %>"
  window.hamburgerURL =  "<%= image_url('hamburger.png') %>"
  window.logged_inURL =  "<%= image_url('logged_in.PNG') %>"
  window.search_button_iconURL =  "<%= image_url('search_button_icon.PNG') %>"
  window.sign_in_buttonURL =  "<%= image_url('sign_in_button.PNG') %>"
  window.upload_vidsURL =  "<%= image_url('upload_vids.PNG') %>"
  window.youtubelogoURL =  "<%= image_url('youtubelogo.PNG') %>"
  window.yourchannelicon = "<%= image_url('your-channel-icon.PNG') %>"
  window.sign_out_icon = "<%= image_url('sign-out.PNG') %>"
  window.subscriptions = "<%= image_url('subscriptions.PNG') %>"
  window.trending = "<%= image_url('trending.PNG') %>"
  window.home_icon = "<%= image_url('youtube_home_icon.PNG') %>"
  window.library = "<%= image_url('youtubelibrary.PNG') %>"
  window.youtube_one = "<%= image_url('image.PNG') %>"
  window.youtube_two = "<%= image_url('youtube2.PNG') %>"
  window.youtube_three = "<%= image_url('youtube3.PNG') %>"
  window.youtube_four = "<%= image_url('youtube4.PNG') %>"
  window.googlesignup = "<%= image_url('google-signup-picture.PNG') %>"
  window.video_call =  "<%= image_url('video_call.svg') %>"
  </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>


