<!DOCTYPE html>
<html>
  <head>
    <title>VideoTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    # <link href="//db.onlinewebfonts.com/c/e1b8c7e4befef386f0d0fce20c27a140?family=Standard+CT+Bold+Cond" rel="stylesheet" type="text/css"/>
    <script src="https://kit.fontawesome.com/5fae03d5fa.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
  window.googlelogoURL = "<%= image_url('google_logo.PNG') %>"
  window.hamburgerURL =  "<%= image_url('hamburger.png') %>"
  window.logged_inURL =  "<%= image_url('logged_in.PNG') %>"
  window.search_button_iconURL =  "<%= image_url('search_button_icon.PNG') %>"
  window.sign_in_buttonURL =  "<%= image_url('sign_in_button.PNG') %>"
  window.upload_vidsURL =  "<%= image_url('upload_vids.PNG') %>"
  window.youtubelogoURL =  "<%= image_url('youtubelogo.PNG') %>"
  window.yourchannelicon = "<%= image_url('your-channel-icon.PNG') %>"
  window.sign_out_icon = "<%= image_url('sign-out.PNG') %>"
  window.subscriptions = "<%= image_url('subscriptions.PNG') %>"
  window.trending = "<%= image_url('trending.PNG') %>"
  window.home_icon = "<%= image_url('youtube_home_icon.PNG') %>"
  window.library = "<%= image_url('youtubelibrary.PNG') %>"
  window.youtube_one = "<%= image_url('image.PNG') %>"
  window.youtube_two = "<%= image_url('youtube2.PNG') %>"
  window.youtube_three = "<%= image_url('youtube3.PNG') %>"
  window.youtube_four = "<%= image_url('youtube4.PNG') %>"
  window.googlesignup = "<%= image_url('google-signup-picture.PNG') %>"
  window.video_call =  "<%= image_url('video_call.svg') %>"
  window.video_call_png =  "<%= image_url('video_call.png') %>"
  window.youtube_logo = "<%= image_url('Studio.svg') %>"
  window.gray_youtube_logo = "<%= image_url('greyYouTube.svg') %>"
  window.gray_youtube_logo_hover = "<%= image_url('gyt_hover.svg') %>"
  window.studio_video_upload = "<%= image_url('file_upload.svg') %>"
  window.large_file_upload = "<%= image_url('large_file_upload.svg') %>"
  window.close_svg = "<%= image_url('close_black.svg') %>"
  window.comment_hover = "<%= image_url('comment.svg') %>"
  window.delete_hover = "<%= image_url('delete.svg') %>"
  window.create_hover = "<%= image_url('create.svg') %>"
  window.navbarUpload = "<%= image_url('smart_display_white_24dp.svg') %>"
  window.backArrowGray = "<%= image_url('arrow_back_black_24dp.svg') %>"
  window.uploadPhotoIco = "<%= image_url('add_photo_alternate.svg') %>"
  window.grayThumbsUp = "<%= image_url('thumb_up_alt.svg') %>"
  window.grayThumbsDown = "<%= image_url('thumb_down_alt.svg') %>"
  window.grayStudioIcon = "<%= image_url('slideshow_black_24dp.svg') %>"
  </script>
  <%= favicon_link_tag asset_path('Studio.svg') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>


